@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
html[data-theme="orange"] {
  --mdc-theme-primary: #a38c5b;
  --mdc-theme-secondary: #535353;
  --mdc-theme-text: #535353;
  --mdc-theme-background: #eeeeee;
  --mdc-theme-star: #869622;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

html[data-theme="gray"] {
  --mdc-theme-primary: rgba(92, 92, 92, 0.801);
  --mdc-theme-secondary: #b8b8b8;
  --mdc-theme-text: #ffffff;
  --mdc-theme-background: rgb(68, 68, 68);
  --mdc-theme-star: #cfd4af;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

html[data-theme="blue"] {
  --mdc-theme-primary: rgb(55, 86, 189);
  --mdc-theme-secondary: #6490a5;
  --mdc-theme-text: #ffffff;
  --mdc-theme-background: rgb(120, 150, 189);
  --mdc-theme-surface: #fff;
  --mdc-theme-star: #ddff00;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
}

header {
  padding: 0px 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
}

header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .left > div {
  position: relative;
}

header .left > div .options {
  display: none;
  position: absolute;
  bottom: -10px;
  left: 0px;
  -webkit-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  background-color: #fff;
  padding: 5px 10px;
  z-index: 100;
}

header .left > div .options.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .left > div .options span {
  white-space: nowrap;
}

header .left .sort-container {
  margin-left: 50px;
}

header > h1 {
  color: #444444;
  font-size: 2rem;
}

.main {
  padding: 20px 17rem;
  position: relative;
}

.main .movies .movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--mdc-theme-background);
  margin: 10px 0px;
  padding: 15px;
  color: var(--mdc-theme-text);
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

.main .movies .movie:hover .delete-item {
  right: -25px;
  position: absolute;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  color: #f00;
}

.main .movies .movie > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .movies .movie-name > p {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .movies .movie-name > p > span {
  display: none;
}

.main .movies .movie-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .movies .movie-point > span {
  color: var(--mdc-theme-star);
}

.main .movies .movie .give-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .movies .movie .give-point span.material-icons-outlined:first-child {
  color: #42c942;
}

.main .movies .movie .give-point span.material-icons-outlined:last-child {
  color: #f00;
}

.main .theme-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  top: 150px;
  position: fixed;
  width: 200px;
  right: 0px;
  background-color: #ececec;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.main .theme-color.active {
  -webkit-transform: translate(0%, 0px);
          transform: translate(0%, 0px);
}

.main .theme-color > span {
  position: absolute;
  cursor: pointer;
  left: 0px;
  top: 0px;
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  padding: 10px 15px;
  background-color: #ececec;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.main .theme-color .container .mdc-touch-target-wrapper:first-child .mdc-checkbox__background {
  background-color: #a38c5b !important;
}

.main .theme-color .container .mdc-touch-target-wrapper:nth-child(2) .mdc-checkbox__background {
  background-color: gray !important;
}

.main .theme-color .container .mdc-touch-target-wrapper:last-child .mdc-checkbox__background {
  background-color: #3756bd !important;
}

.new-sign-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-sign-container > * {
  margin-top: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*# sourceMappingURL=index.css.map */