html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    outline: none;
}

button{
    cursor: pointer;
}

header {
    height: 100px;
    padding: 0px 17rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e7e7;

    .left {
        display: flex;

        & > div {

            .sort-options,
            .kind-options {
                display: none;
            }

            .kinds , .sort {
            }

            .sort{
            }
        }
    }

    & > h1{
        color: rgb(68, 68, 68);
        font-size: 2rem;
    }

    .new-sign{
        
        a{
            display: block;
            padding: 10px 20px;
            background-color: #b09978;
            color: #fff;
        }
    }
}
